<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="/stylesheets/menu_assets/styles.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<title>Create Category</title>
<script type="text/javascript">
function validate()
{
  var retval = true;
  var y=document.forms["welcomeForm"]["catName"].value;
  if(y==null || y=="")
  {
	  	alert("Please enter category name");
	  	retval = false;
	  	return retval;
  }
  
  return retval;
}

</script>
</head>
<body>
	Welcome : <b> {{ loggedInUser }}  </b>
	<div id='cssmenu'>
	   <ul>
	   		
   			<li class='active '><a href='/welcomeBack'><span>Home</span></a></li>
   			<li class='has-sub '><a href='#'><span>Create</span></a>
      		<ul>
         		<li><a href='/createCategory' ><span>Create Category</span></a></li>
         		<li><a href='/addItems'><span>Add Items</span></a></li>
         		<li><a href='/importXMLIntial'><span>Import XML</span></a></li>
      		</ul>
   			</li>
   			<li><a href='/exportIntialXML'><span>Export XML</span></a></li>
   			<li><a href='/searchItem'><span>Search</span></a></li>
   			<li><a href='/voting'><span>Vote for Category</span></a></li>
   			<li><a href='/result'><span>Results of Category</span></a></li>
   			<li><a href="{{ logout }}">Logout</a> </li>
		</ul>
		</div>	
	<form name="welcomeForm" action="/createCategoryIntial" onsubmit="return validate()" method="post">
		{% if categoryAdded %}
	   	 	<h3> Category Added Successfully</h3>
	     {% else %}
	        <h3>Please add the Category.If category added successfully you will get a success message</h3>
	     {% endif %}
	     <br/>
	     <br/>
	     <br/>      
		 Enter Category Name : <input type=text name="catName" id="catName" >
		 <input type=hidden name=loggedInUser value="{{ loggedInUser }}" />
		 <input type=hidden name=logout value="{{ logout }}" />
		 <input type=hidden name=firstChoice value="opt3" />
		 <button type="submit" value="Login" onclick=" return validate()">Submit</button>
	</form>
</body>
</html>